<html>
    <head>
        <title>Cruptobot</title>
        <script src = "https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>

    </head>

    <body>
        <h1>Trades</h1>
        <div id="chart"></div>
        <div id="trades"></div>
        
        <form action = "/buy" method="post">
            <input type="text" id="quantity" name = "quantity" />

            <select>
                {% for symbol in symbols %}
                    <option>{{symbol['symbol']}}</option>
                {%endfor%}
            </select>
            <input type="submit" name="buy" value="buy">
        </form>
        

        <div id="balances">
            <h2>Balances</h2>
            <table>
                {% for balance in balances%}
                    {% if balance%}
                        <tr>
                            <td>
                                {{balance['asset']}} 

                            </td>
                            <td>
                                {{ balance['free']}}
                            </td>
                        </tr>
                    {% endif %}
                    
                {% endfor%}

            </table>
            
        </div>
        <h3>Settings</h3>

        <div id="settings">
            <input type="checkbox"/> RSI
            <input type="text" id="rsi_length" name="rsi_length" placeholder="14" />
            Overbought
            <input type="text" id="rsi_overbought" name="rsi_overbought" placeholder="70" />
            Oversold
            <input type="text" id="rsi_oversold" name="rsi_oversold" placeholder="30" />
        </div>

        <!-- <script>
            var binanceSocket = new WebSocket("wss://stream.binance.com:9443/ws/ethusdt@trade");
            var tradeDiv = document.getElementById("trades")
            binanceSocket.onmessage = function (event) {
                console.log(event.data);
                var messageObject = JSON.parse(event.data)
                tradeDiv.append(messageObject.p)
            }
        </script> -->

        <script src="{{ url_for('static',filename ='chart.js')}}"></script>
    </body>
</html>